name: CI/CD Pipeline

on:
  push:
    branches: [main, develop]
  pull_request:
    branches: [main]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "18"
          cache: "npm"
      - name: Install dependencies
        run: npm ci
      - name: Run linter
        run: npm run lint
      - name: Run tests
        run: npm run test
      - name: Build project
        run: npm run build
        env:
          GOOGLE_PROJECT_ID: eliksir-api
          GOOGLE_PRIVATE_KEY_ID: 4e86f2d17625796516d8e1a568935d3bd30fdf9d
          GOOGLE_PRIVATE_KEY: -----BEGIN PRIVATE KEY-----\nMIIEvgIBADANBgkqhkiG9w0BAQEFAASCBKgwggSkAgEAAoIBAQCsoMKAViQD2Aq1\nzakOwzwbXK793YCOG+UZCqC7tQ8PgGlUnUSlRZOyIyEf4Pmlp6Qeyscq4cxyJ/TX\ngYqTvddoqSgsr28DKzChMyknHeHkZHbQxFk3NoEAYAEueit7pDfJbveDTe/Mo7t2\nikF5d2JBd1NVdhKpWq1jlN6xF5UoNJP8Jj1SA2jMhgNaWXad+LJvjiDvIR+dhrmX\n+guilaF2rigLC1yCMOl2je77HEBdvqQ4AKK/TzQTmZmveEGd3qhYVoA0TqyNK8Sv\nyvHeaQPSCVgUA+sW3nWaks5O3YHJ6Vy6SmtGuTbM54nsTQph6vxnKO/Mr0pBhEMJ\nW3SIrYQTAgMBAAECggEAB6Fi0jW8iXegYDvdzVC/lJK1YMmh1+Y6FgVxvbT5nEei\noEJZWULTjfaz4qBY+JkJ40XhpYQYkN0yRd+se+5SxLC2yA7dxdKVZ4gG5CXpKRAb\nGQxCHfN99+xxG5hRLrm/W4XY+/KodwUFEW7NXmydU7kjXljbPKV3mjoSLoVqgD3h\nWkq8DKxiCmxaLvP+qQdBPEdqJ/JmP2JutAiUT75FfCkz0ARVv3Hg9R4ZGt27HVxU\n4SjXE54N/YxM0iQ7seV3bHSpIWnbivBA7h8vVf0zK63ATdXyoO5ZPUbBkQRzEBCE\n2NdVBJvGFCFFvVcUCR0HxobiTIV9XskJ12pp7iKxbQKBgQDq8hMqWs5EQTkcwdxb\nglVZlrBOCjf1AKnlaCDoS+Heu4/1QUyvkra+JT8t5yqbq+AW0d2q2dHD5cx0UEBp\nbpxRJHXB0sqPTLM7yQUfJ1QKk3Q8KuJ+nNCd3EKYHWtzXYK435RHgyNIE0ptspuh\nYEooOBq7HYVBhwK+/TJTlG9ITQKBgQC8GQvA0SPJwjfydGrCNA0TdQWcoY0rGmi6\nscodHAA6DegDhNh09NAEUPbGS4eoOLr2E6pv4WJBET8CuGzeG9yj1A9hxl1d6gvC\nj4n/rmsUD7y+3JL8QSx6aUFdQk76697v+FRxGFakMQSXUW/kn1KomLDIOvGaal//\nK0KI4Cgt3wKBgGLhKsvCl9kGEkFWHaWtvroLv3u4tUA53UcdgewCM7eH/NhdeSbT\nenGgP2zUQ4xs080G2mITdkMaLegt9k3pLYTA8YZ3bqTMxQo+Whd4d9hTorHH4rci\nzHIDx0s55oURL/kar89BE9I7vDFa4EEUw2EV67ogfHrNlYxIB6xBZmxpAoGBALvW\n6zTP5kRqzwIyHhb4cgJ3P3ZuopJj2ihuud8eAl/3WTaCaMNLY5yb2gSmkr98f8CU\nXQVDd6Jw/ZLS5+1at5lngUDsHntV6g6O14nc/ZPYL24Oyj5dO3S3Pg5K1KKiAE12\nmaUjYAqx5NrT+cC/FoXFje03Z+UDy///jH8yEw3TAoGBAID2ng4kRkH1ZK4K+KAb\nHCiWNcFUIk3FLj3zF4vRgnHT3ym7Uc1SrPnzv2lehEKRCeXUcSZE0RPpfLeLmDub\nguqD88BDtVAEeDZ1e0A0YJO2Oe6G9inFeL9U5R69sxp+dZgI2qtdUpZ3AKHs9/bU\nvH3H2+8BjZwneYPMtCBU42/p\n-----END PRIVATE KEY-----\n
          GOOGLE_CLIENT_EMAIL: percival@eliksir-api.iam.gserviceaccount.com
          GOOGLE_CLIENT_ID: 115582802395773534058
          GOOGLE_SPREADSHEET_ID: 1KPI88OQ8p-Z9J1MpW0Wt_5V-2Ht9tc0aZOI2KMG4X58

  deploy:
    needs: test
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main'
    steps:
      - uses: actions/checkout@v4
      - name: Deploy to Vercel
        uses: amondnet/vercel-action@v25
        with:
          vercel-token: ${{ secrets.VERCEL_TOKEN }}
          vercel-org-id: ${{ secrets.ORG_ID }}
          vercel-project-id: ${{ secrets.PROJECT_ID }}
